site_name: Luau C API
site_url: https://Sleitnick.github.io/luau-api
site_author: Stephen Leitnick

theme:
  name: material
  logo: assets/logo.png
  favicon: assets/favicon.png
  font:
    text: Inter
    code: JetBrains Mono
  features:
    - content.code.copy
    - navigation.instant
    - navigation.tabs
    - navigation.footer
    - toc.integrate
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: white
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

extra_css:
  - stylesheets/extra.css

nav:
  - Home: index.md
  - Reference: reference.md
  - Guides:
      - Setup: guides/setup.md
      - Stack: guides/stack.md
      - Sandboxing: guides/sandboxing.md
      - Atoms: guides/atoms.md
      - Tags: guides/tags.md
      - Buffers: guides/buffers.md
      - Userdata: guides/userdata.md
      - Light Userdata: guides/light-userdata.md
      - Tables: guides/tables.md
      - Pinning and References: guides/pinning.md
      - Coroutine Threads: guides/threads.md
      - Error Handling: guides/error-handling.md
      - Native Code Gen: guides/native.md
      - Native Userdata: guides/native-userdata.md

markdown_extensions:
  - attr_list
  - md_in_html
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.details
  - pymdownx.superfences
  - admonition
  - toc:
      permalink: true

plugins:
  - offline
  - search
